@keyframes moveUpDown {
  0% {
    top: 95%;
    transform: translateY(-50%);
    left: -300px;
  }

  100% {
    top: 45%;
    left: -300px;
    transform: translateY(0);
  }
}
.oval {
  width: 3800px;
  height: 800px;
  position: fixed;
  z-index: 0;
  background: linear-gradient(to left, #e8c124, rgb(224, 185, 46));
  border-radius: 50%;
  animation: moveUpDown 3s ease-in-out infinite alternate;
  box-shadow: 1px 1px 5px rgb(199, 196, 196);
}

::-webkit-scrollbar {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding-top: 40px;
  padding-bottom: 30px;
}


